traefik:
  deployment:
    kind: DaemonSet # to run on all nodes

  updateStrategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: "2"
      maxSurge: 0

  ports:
    web: # for HTTP
      port: 80
      hostPort: 80
      expose:
        default: true 
      redirections:
        entryPoint:
          to: websecure # redirect all HTTP traffic to HTTPS
          scheme: https
      proxyProtocol: # to allow proxy protocol
        trustedIPs: [] # add your trusted IPs(lb ip) for proxy protocol (e.g., 10.0.0.0/8)
    
    websecure: # for HTTPS
      port: 443
      hostPort: 443
      expose: 
        default: true
      http: # for Argo CD because it uses HTTP/2 and has trouble with encoded characters
        encodedCharacters:
          allowEncodedSlash: true
      proxyProtocol:
        trustedIPs: [] # add your trusted IPs(lb ip) for proxy protocol (e.g., 10.0.0.0/8)

  hostNetwork: true # to allow binding to the node's IP
  service:
    enabled: false # we don't want to expose the service because we use hostNetwork


  tolerations: # to allow running on control plane nodes
    - key: "node-role.kubernetes.io/control-plane"
      operator: "Exists"
      effect: "NoSchedule" 

  providers:
    kubernetesCRD:
      enabled: true
    kubernetesIngress:
      enabled: true
      ingressClass: traefik # specify the ingress class for Traefik  

  logs:
    level: WARN

  securityContext:
    capabilities:
      drop: [ALL]
      add: [NET_BIND_SERVICE]
    readOnlyRootFilesystem: true
    runAsGroup: 0
    runAsNonRoot: false
    runAsUser: 0
